body {
	color: black;
	background-color: green;
}

h1 {
	text-align: center;
	font-size: 50px;
	margin-top: 50px;
}

form {
	text-align: center;
	margin-top: 75px;
	margin-left: 40px;
}

.button {
	display: inline-block;
}

.company {
	height: 30px;
	width: 60px;
	border-right: solid 2px black;
	text-align: right;
	color: gold;
	background-color: #404040;
}

.price {
	height: 30px;
	width: 70px;
	text-align: left;
	color: gold;
	background-color: #494949;
}

.table-row {
	border: solid 2px black;
}

.table-row-div {
	border-right: solid 2px black;
	border-left: solid 2px black;
	border-bottom: solid 2px black;
}

.table {
	width: 150px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 0;
}

.table-div {
	width: 150px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
}

#hideAll
 {
   position: fixed;
   left: 0px; 
   right: 0px; 
   top: 0px; 
   bottom: 0px; 
   background-color: white;
   z-index: 99;
 }